# Environment
ENVIRONMENT="dev"

# Application
BACKEND_BASE_URL="http://localhost:8000"
FRONTEND_BASE_URL="http://localhost:3000"

# Python
PYTHONUNBUFFERED="1"

# Database
DATABASE_URL="sqlite://"
IS_SQLITE="True"
